$primary: #f2e1d9;
$secondary: #1c2546;
$primary_solid: #fd8f5f;
$breadcrumb-divider-color: $primary_solid;
$breadcrumb-active-color: $primary_solid;

$product_border: #e7e7e766;
$product_price_color: #650606;
$tab_inactive_color: #4f4b54c4;

$paragraph_color: #8282a6;
$paragraph_color_1: #646d77;
$heading_color_1: #140c40;
